<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="tUser"  type="com.gao.po.tUser"/>
<typeAlias alias="bUser"  type="com.gao.po.bUser"/>
<typeAlias alias="bXxk"  type="com.gao.po.bXxk"/>
<typeAlias alias="bCd"  type="com.gao.po.bCd"/>
<typeAlias alias="bQd"  type="com.gao.po.bQd"/>
</typeAliases>

<mappers>
<mapper resource="com/gao/po/tUser.xml"/>
<mapper resource="com/gao/po/bUser.xml"/>
<mapper resource="com/gao/po/bQd.xml"/>
<mapper resource="com/gao/po/bXy.xml"/>
</mappers>
</configuration>